.building {
    padding-top: 105px;

    &__title {
    }

    &__subtitle {
        padding-top: 15px;
    }

    &__style {
    }

    &__dimensions {
    }

    &__size {
    }

    &__btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 13px 30px 12px;

        background: $blue;
        border-radius: 11px;
        button {
            width: 100%;
            height: 100%;
        }
    }
}

.types {
    padding-top: 35px;
    display: flex;
    padding-left: 15px;

    &__track {
        display: flex;
    }

    &__item {
        margin-right: 15px;
        display: flex;
        flex-direction: column;
    }

    &__img {
        height: 125px;
        width: 125px;
        background-color: $light-grey;
        border-radius: 11px;
    }

    &__item_active {
        //background: #000;
        .types__img {
            border: 2px solid $blue;
        }
    }

    &__name {
        font-size: 15px;
        line-height: 15px;
        text-align: center;
        padding-top: 11px;
    }
}

.buildings {
    &__types {
    }

    &__material {
    }
}

.material {
    padding: 30px 15px 0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;

    &__item {
        background: $light-grey;
        border-radius: 11px;
        max-width: 172px;

        //Взято из фигмы
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 13px 15px 12px;

        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
        text-align: center;
        color: $grey;
    }

    &__item_active {
        color: $white;
        background: $blue;
    }
}

.style {
    display: flex;
    padding-top: 25px;
    padding-left: 15px;

    &__item {
        font-size: 15px;
        line-height: 15px;
        color: $grey;
        padding-right: 25px;
    }

    &__item_active {
        color: $blue;
    }
}

.range {
    padding: 40px 15px 0 15px;

    &__numbers {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 15px;
        line-height: 15px;
        text-align: center;
        padding: 0 5%;
        color: #c8c8c8;

        div {
            width: 19px;
            text-align: center;
        }
    }
    // &__input {
    //     -webkit-appearance: none;
    //     width: 100%;
    //     padding-top: 25px;
    // }
    // &__input::-webkit-slider-runnable-track {
    //     height: 5px;
    //     outline: none;

    //     background: #f7f7f7;
    //     border-radius: 5px;
    //     border: none;
    // }
    // &__input::-webkit-slider-thumb {
    //     -webkit-appearance: none;
    //     width: 23px;
    //     height: 23px;
    //     padding-top: -10px;
    //     cursor: pointer;
    //     z-index: 3;
    //     position: relative;
    // }

    // #selector {
    //     height: 104px;
    //     width: 23px;
    //     position: absolute;
    //     bottom: -20px;
    // }

    .selectBtn {
    }
}

.size {
    display: flex;
    align-items: center;
    padding-top: 38px;
    padding: 38px 15px 0 15px;

    &__metres {
        font-size: 15px;
        line-height: 23px;
        color: $grey;
        flex: 50%;
        padding-right: 8px;
    }
    &__input {
        border: none;
        max-width: 71px;
        background: #ffffff;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.11);
        border-radius: 11px;

        height: 40px;
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
        padding-left: 15px;
        color: #2f2f2f;
    }

    /* Chrome, Safari, Edge, Opera */
    &__input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    &__input[type="number"] {
        -moz-appearance: textfield;
    }

    &__price {
        background: $light-grey;
        border-radius: 11px;
        max-width: 360px;

        flex: 50%;
        display: flex;
        justify-content: center;

        p {
            font-weight: 500;
            font-size: 20px;
            line-height: 20px;

            display: flex;
            align-items: center;
            text-align: center;
            color: $black;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
