@media (min-width: 900px) {

    // .circle {
    //     // width: 1656px;
    //     // height: 1656px;
    //     z-index: 1;
    //     position: relative;
    //     div {
    //         background-color: $blue;
    //         width: 1200px;
    //         height: 1200px;
    //         border-radius: 800px;
    //         position: absolute;
    //         top: -220px;
    //         left: -740px;
    //     }
    // }
    .circle {
        background: $blue;
        border-radius: 100%;
        position: absolute;
        width: 1656px;
        height: 1656px;
        left: -1174px;
        top: -447px;
        //top: calc(1656px / 3);
    }
}