.circle {
    // width: 1656px;
    // height: 1656px;
    // width: 100px;
    // height: 100px;
    div {
        background-color: $blue;
        width: 1656px;
        height: 1656px;
        border-radius: 950px;
        position: absolute;
        top: -810px;
        left: -800px;
    }
}
