@media (min-width: 900px) {
    .circle {
        background: $blue;
        border-radius: 100%;
        position: absolute;
        width: 1656px;
        height: 1656px;
        left: -1190px;
        top: -447px;
    }
}