.delivery {
    padding-top: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__pic {
        width: 437.92px;
        height: 212.16px;
    }
    &__text {
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
        color: $dark;
    }
    &__subtitle {
        font-size: 20px;
        line-height: 27px;
        font-weight: normal;
        color: $grey;
        width: 377px;
        padding-top: 25px;
    }
    &__buttons {
        padding-top: 38px;
    }
    &__phone {
        background: $light-grey;
        border-radius: 25px;
        width: 295px;
        height: 45px;
        padding-left: 26px;
        padding-right: 62px;
        font-size: 17px;
        line-height: 15px;
        color: $grey;
    }
    &__connect {
        background: $dark-blue;
        border-radius: 25px;
        width: 210px;
        height: 45px;
        
        text-align: center;

        div {
            font-weight: 500;
            font-size: 17px;
            line-height: 23px;

            color: $white;
        }
    }
}
