.discounts {
    background: $blue-black;
    // padding-top: 94px;
    position: relative;
    z-index: 100;

    &__header {
        padding: 55px 0;
        font-weight: bold;
        font-size: 30px;
        line-height: 20px;
        text-align: center;

        color: $white;
    }
}
