.discounts {
    background: $white;
    padding-top: 101px;
    position: relative;
    z-index: 100;

    &__header {
        font-weight: bold;
        font-size: 30px;
        line-height: 20px;
        text-align: center;

        color: #000;
    }
    &__slider {
        padding-top: 55px;
        img {
            
        }
    }
}
