.forms {
    // max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__title {
        color: $black;
        font-weight: 500;
        font-size: 23px;
        line-height: 30px;
        text-align: center;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            

            p {
                font-size: 15px;
                line-height: 18px;
                text-align: center;
                color: $dark-grey;
                padding-top: 15px;
            }

            .img {
                background: $light-grey;
                border-radius: 11px;
                height: calc(148px + (222 - 145)*(100vw - 320px)/(1800 - 320));
                width: calc(156px + (230 - 160)*(100vw - 320px)/(1800 - 320));
                margin-top: 27px;
            }
        }
    }
}

@media (max-width: 360px) {
    .forms {
        .img {
            height: 90px;
            width: 90px;
            // background-color: red;
        }
    }
}
@media (min-width: 860px) {
    .forms {
        .grid {
            display: flex;
            align-items: center;

            &__item {
                padding-right: 20px;
            }
        }
    }
}
