.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 4;

    padding: 30px 15px 0 15px;

    .mainLogo {
        &__white {
            display: none;
        }

        &__black {
            width: 176px;
        }
    }

    div {
        display: flex;
        justify-content: space-around;
        min-width: 60px + 75px;

        a {
            img {
                width: 25px;
                height: 25px;
            }
        }
    }
}

.inst {
    display: none;
}

.phone {
    display: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    color: $grey;
}

@media (min-width: 900px) {

    .phone-pic {
        display: none;
    }

    .phone {
        display: inline-block;
        margin-left: 45px;
        padding-top: 9px;
    }

    .inst {
        display: inline-block;
        padding-top: -20px;
    }
    .header {
        padding-top: 33px;

        .mainLogo {
            &__white {
                width: 211px;
                display: inline-block;
            }

            &__black {
                display: none;
            }
        }

        div {
            display: flex;
            justify-content: start;

            a {
                img {
                    width: 30px;
                    height: 25px;
                }
            }

            // контейнер для левых соц сетей
            div {
                a {
                    padding-right: 20px;
                }
            }
        }
    }
}