.liquidation {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;

    &__pics {

        img {
            max-width: 470px;
        }
    }

    &__text {
        padding: 0 15px;
        background-color: red;
    }

    &__pretitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        color: rgba(171, 176, 189, 0.5);
    }

    &__title {
        font-weight: bold;
        font-size: 25px;
        line-height: 33px;
        color: $dark;

        span {
            color: $dark-blue;
        }

        padding-top: 12px;
    }

    &__subtitle {
        padding-top: 25px;
        font-size: 15px;
        line-height: 27px;
        // width: 518px;
        color: $grey;
    }

    &__btn {
        border-radius: 25px;
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
        flex: 1 1 50%;
        width: 210px;
        height: 45px;
    }

    &__buttons {
        display: flex;
        padding-top: 35px;
        align-items: center;

        .catalog {
            background: $dark-blue;
            margin-right: 15px;
            color: $white;
        }

        .contact {
            background: $light-grey;
            color: $grey;
        }
    }
}

// @media (min-width: 580px) {
//     .liquidation {
//         &__pics {
//             margin: 0 auto;
//         }
//         &__text {
//         }
//     }
// }

@media (min-width: 1150px) {
    .liquidation {
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &__pics {
            flex: 0 0 40%;
        }

        &__text {
            flex: 0 0 50%;
        }

        &__pretitle {
            font-weight: 500;
            font-size: 25px;
            line-height: 47px;
            color: rgba(171, 176, 189, 0.5);
        }

        &__title {
            font-weight: bold;
            font-size: 40px;
            line-height: 47px;
            color: $dark;

            span {
                color: $dark-blue;
            }

            padding-top: 12px;
        }

        &__subtitle {
            padding-top: 25px;
            font-size: 20px;
            line-height: 27px;
            width: 518px;
            color: $grey;
        }

        &__buttons {
            display: flex;
            padding-top: 35px;
            align-items: center;

            .catalog {
                background: $dark-blue;
                border-radius: 25px;
                margin-right: 15px;

                div {
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 23px;

                    display: flex;
                    align-items: center;
                    text-align: center;
                    padding: 12px 33px;

                    color: $white;
                }
            }

            .contact {
                background: $light-grey;
                border-radius: 25px;

                div {
                    font-size: 17px;
                    line-height: 23px;
                    padding: 12px 63px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: $grey;
                }
            }
        }
    }
}