@import "./vars";

.menu {
    display: flex;
    padding-left: 15px;
    background: $white;
    overflow-x: hidden;
    justify-content: center;
    // margin-bottom: 45px;
    margin-top: 45px;

    &__row {
        width: 390px;
        display: flex;
        padding: 15px 15px 15px 3px;
    }

    &__btn {
        cursor: pointer;
        width: 40px;
        height: 40px;
        min-width: 40px;
        background: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.11);
        border-radius: 11px;
        margin: 15px 12px 15px 0;
    }

    &__btn-line {
        width: 20px;
        height: 2px;
        background: $black;
        border-radius: 2px;

        &:first-child {
            margin-bottom: 6px;
        }
    }

    &__list {}


    &__track {
        display: flex;
    }

    &__item {
        cursor: pointer;
        display: block;
        font-weight: 500;
        font-size: 15px;
        padding: 13px 20px;
        margin-right: 15px;
        background: $light-grey;
        color: $grey;
        border-radius: 11px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__item_active {
        background: $white;
        color: $black;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.11);
    }
}

.menu_fake {
    height: 70px;
    width: 100%;
    margin-bottom: 45px;
    margin-top: 150px;
    display: none;
}

.menu._fixed {
    position: fixed;
    z-index: 999;
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    width: 100%;
    left: 15px;

    @media (min-width: 450px) {
        left: 0;
    }
}