.point {
    padding-top: 150px;
    // margin: 0 auto;
    text-align: center;

    &__title {
    }

    &__container {
        padding-top: 56px;
        margin: 0 auto;
    }

    &__item {
        // div {
        //     margin: 0 auto;
        // }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__text {
        font-size: 17px;
        line-height: 15px;
        text-align: center;
        padding-top: 30px;

        color: $grey;
    }
}

@media (min-width: 1250px) {
    .point {
        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 917px;
        }
    }
}
