.popup {
    position: fixed;
    width: 100%;
    height: 100%;

		&__body {
		}

		&__content {
		}

		&__title {
		}

		&__subtitle {
		}

		&__soc-media {
		}

		&__send-wrapper {
		}

		&__send {
		}
}
.pic {
}
