.products {
    padding: 15px;

    .mainText {
        padding: 0 15px;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        max-width: 350px;

        color: #2f2f2f;

        .delivery {
            padding-top: 10px;
            font-size: 15px;
            line-height: 15px;
            color: #565656;
        }

        .connect {
            display: flex;
            padding-top: 20px;

            &__connection {
                &__button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 12px 30px 11px;

                    background: #0095f6;
                    border-radius: 11px;
                    font-size: 15px;
                    line-height: 17px;
                    color: white;
                }
            }
            &__download {
                padding-left: 31px;

                &__button {
                    background-color: #fff;
                    font-size: 14px;
                    line-height: 23px;
                    color: #c8c8c8;
                }
            }
        }
    }

    .blocks {
        padding-top: 60px;
        display: grid;  
        grid-gap: 15px;
        max-width: 380px;
        min-width: 300px;

        .container {
            background: #ffffff;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.11);
            border-radius: 11px;

            &__content {
                padding: 29px 25px;
                font-weight: 500;
                font-size: 17px;
                line-height: 20px;

                color: #2f2f2f;
            }
        }
    }
}

@media (min-width: 700px) {
    .products {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
}