@import "_vars.scss";

.products {
    padding: 15px;

    .mainText {
        padding: 0 15px;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        max-width: 350px;
        color:$black;

        .delivery {
            padding-top: 10px;
            font-size: 15px;
            line-height: 15px;
            color: $dark-grey;
        }

        .connect {
            display: flex;
            padding-top: 20px;

            &__connection {
                &__button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 12px 30px 11px;

                    background: $blue;
                    border-radius: 11px;
                    font-size: 15px;
                    line-height: 17px;
                    color:$white;
                }
            }
            &__download {
                padding-left: 30px;

                &__button {
                    background-color:$white;
                    font-size: 14px;
                    line-height: 23px;
                    color: $grey;
                }
            }
        }
    }

    .blocks {
        padding-top: 60px;
        display: grid;
        grid-gap: 15px;
        max-width: 380px;
        min-width: 295px;

        .container {
            background: $white;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.11);
            border-radius: 11px;

            &__content {
                padding: 29px 25px;
                font-weight: 500;
                font-size: 17px;
                line-height: 20px;
                display: flex;
                flex-direction: column;

                color: $black;
            }

            &__arrow {
                width: 20px;
                height: 2px;
                background: $black;
                border-radius: 2px;
                position: relative;
                &::after, &::before {
                    border-radius: 2px;
                    content: "";
                    position: absolute;
                    display: block;
                    width: 11px;
                    height: 2px;
                    right: -1px;
                    background: $black;
                    bottom: 4px;
                    transform: rotate(45deg);
                }
                &::before {
                    transform: rotate(-45deg);
                    bottom: auto;
                    top: 4px;
                }
            }
        }
    }
}

.products-list-btn {
    background-color: $white;
    width: 100%;
    display: flex;
}

@media (min-width: 700px) {
    .products {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
}

@media (max-width: 360px) {
    .products {
        .mainText {
            font-size: 15px;
            line-height: 23px;
        }
        .delivery {
            font-size: 12px;
            line-height: 12px;
        }

        .connect {
            &__download {
                padding-left: 0px;

                &__button {
                    font-size: 8px;
                    line-height: 15px;
                }
            }
        }
    }
}
