.products {
    &__items {
    }

    &__services {
    }
}
.product {
}
.service {
    display: flex;
    align-items: center;

    &__pic {
        width: 55px;
        height: 55px;
        border-radius: 11px;
        margin-right: 35px;
        &::before {
            content: url("../img/clock.svg");
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 13px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 23px;
        color: $grey;
        max-width: 197px;
    }
}
.blue {
    background: $blue;
}
.yellow {
    background: $yellow;
}
.pink {
    background: #fbd9fb;
}
.del {
    width: 158px;
}

@media (min-width: 1250px) {
    .products {
        padding-top: 105px;

        &__items {
            display: flex;
        }

        &__services {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .product {
        width: 384px;
        height: 325px;
    }
}
