@import "./vars";

.title {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: $black;
}

.subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: $grey;
}