/* Mixins */
@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin flex-row {
    @include flex-column;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* Variables */
$white: #fff;
$black: #2F2F2F;
$grey: #C4C4C4;
$light-grey:#F7F7F7;
$blue: #0095F6;

/* Classes */
._hidden {
    visibility: hidden;
    opacity: 0;
}