/* Mixins */
@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin flex-row {
    @include flex-column;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* Variables */
$blue: #0095F6;
$white: #fff;
$light-grey:#F7F7F7;
$grey: #C8C8C8;
$dark-grey: #565656;
$black: #2F2F2F;

/* Classes */
._hidden {
    visibility: hidden;
    opacity: 0;
}