@import "_vars";
@import "_header.scss";
@import "_products.scss";
@import "_discounts.scss";
body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 100%;
}