@import "_vars";
@import "_header.scss";
@import "_products.scss";
@import "_menu.scss";
@import "_discounts.scss";
@import "_slider.scss";
@import "_forms.scss";
@import "_colors.scss";
@import "_text.scss";
@import "_building.scss";
@import "_circle.scss";
@import "_popup.scss";


body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

@media (min-width: 900px) {
  .main-screen {
    height: 100vh;
  }
}
