@import "_vars";
@import "_header.scss";
@import "_products.scss";
@import "_menu.scss";
@import "_discounts.scss";
@import "_slider.scss";
@import "_forms.scss";
@import "_colors.scss";
@import "_text.scss";
@import "_building.scss";
@import "_popup.scss";
@import "_liquidation.scss";
@import "_delivery.scss";
@import "_rake_form.scss";
@import "_point.scss";

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1360px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  background: $white;
}
.main-screen {
  position: static;
  width: 100%;
}


@media (min-width: 500px) {
  .wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1250px) {
  .main-screen {
    height: 100vh;
    position: fixed;
    width: 1360px;
    top: 0;
    left: calc(50% - 680px);
    z-index: -1;
  }
  .wrapper {
    padding: 0 63px;
  }
}


